// -----------------------------------------------------------------------------
// - StrawberryUranium, by SouD.                                               -
// - A MyAnimeList responsive custom list style!                               -
// -----------------------------------------------------------------------------

// Project variables
$version: "0.0.1a";
$author: "SouD";
$since: "2014-11-15";

/**
 * StrawberryUranium v#{$version} by #{$author}.
 * A MyAnimeList responsive custom list style!
 *
 * @author #{$author}
 * @version #{$version}
 * @since #{$since}
 */

// -----------------------------------------------------------------------------
// - Global variables                                                          -
// -----------------------------------------------------------------------------

// Breakpoints
// $xs: < 768px
$sm: 768px;
$md: 992px;
$lg: 1200px;
$mdw: min-device-width;

// Default horizontal padding
$padding-right: 15px;
$padding-left: 15px;

// -----------------------------------------------------------------------------
// - Mixins                                                                    -
// -----------------------------------------------------------------------------

@mixin width-minus-pad($width) {
  width: $width - $padding-right - $padding-right;
}

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  @if $top not null {
    padding-top: $top;
  }
  @if $right not null {
    padding-right: $right;
  }
  @if $bottom not null {
    padding-bottom: $bottom;
  }
  @if $left not null {
    padding-left: $left;
  }
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  @if $top not null {
    margin-top: $top;
  }
  @if $right not null {
    margin-right: $right;
  }
  @if $bottom not null {
    margin-bottom: $bottom;
  }
  @if $left not null {
    margin-left: $left;
  }
}

// -----------------------------------------------------------------------------
// - Control Strip                                                             -
// -----------------------------------------------------------------------------

// Unicode mal_control_strip
// \u006D\u0061\u006C\u005F\u0063\u006F\u006E\u0074\u0072\u006F\u006C\u005F\u0073\u0074\u0072\u0069\u0070

// -----------------------------------------------------------------------------
// - List surround                                                             -
// -----------------------------------------------------------------------------

#list_surround {
  @include padding(null, $padding-right, null, $padding-left);
  @include margin(null, auto, null, auto);

  @media ($mdw: $sm) {
    @include width-minus-pad($sm);
    @include padding(60px);
  }

  @media ($mdw: $md) {
    @include width-minus-pad($md);
  }

  @media ($mdw: $lg) {
    @include width-minus-pad($lg);
  }
}

// -----------------------------------------------------------------------------
// - Copyright                                                                 -
// -----------------------------------------------------------------------------

#copyright {
  @include padding(20px, $padding-right, 10px, $padding-left);
  @include margin(0 !important, auto, null, auto);
  text-align: center;
}
