// -----------------------------------------------------------------------------
// - StrawberryUranium, by SouD.                                               -
// - A MyAnimeList responsive custom list style!                               -
// -----------------------------------------------------------------------------

// Project variables
$version: "0.1.0";
$author: "SouD";
$since: "2014-11-15";

/**
 * StrawberryUranium v#{$version} by #{$author}.
 * A MyAnimeList responsive custom list style!
 *
 * @author #{$author}
 * @version #{$version}
 * @since #{$since}
 */

// -----------------------------------------------------------------------------
// - Variables                                                                 -
// -----------------------------------------------------------------------------

// Breakpoints
// $xs: < 768px
$sm: 768px;
$md: 992px;
$lg: 1200px;
$mw: min-width; // Used in media queries

// Viewport settings
$viewport-width: device-width;
$viewport-zoom: 1.0;

// Default horizontal padding
$padding-right: 15px;
$padding-left: 15px;

// Common padding values
$padding-small: 8px;

// Font families
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family: $font-family-sans-serif;

// Font sizes
$font-size: 14px;
$font-size-small: ceil($font-size * 0.85);
$font-size-h1: floor($font-size * 2.6);

// Font line heights
$base-line-height: 1.428571429;
$line-height: floor($font-size * $base-line-height);
$line-height-headings: 1.1;

// Font weights
$font-weight-headings: 500;

// Control strip visibility
$show-control-strip: true;

// Table effects
$table-striped: true;
$table-hover: true;
$table-bordered: true;
$table-border-width: 1px;
$table-border-style: solid;

// -----------------------------------------------------------------------------
// - Colors                                                                    -
// -----------------------------------------------------------------------------

// Font
$font-color: #333;

// Link
$link-color: #337ab7;
$link-hover-color: #23527c;

// Table
$table-accent-color: #f9f9f9;
$table-hover-color: #f5f5f5;
$table-border-color: #ddd;

// -----------------------------------------------------------------------------
// - Effects                                                                   -
// -----------------------------------------------------------------------------

$control-strip-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
$input-shadow: inset 0 1px 1px rgba(0,0,0,.075);
$input-focus-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
$input-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s,box-shadow ease-in-out .15s;

// -----------------------------------------------------------------------------
// - Mixins                                                                    -
// -----------------------------------------------------------------------------

@mixin border($facing: false, $width: 1px, $style: solid, $color: #ddd) {
  @if $facing != false {
    border-#{$facing}-width: $width;
    border-#{$facing}-style: $style;
    border-#{$facing}-color: $color;
  } @else {
    border-width: $width;
    border-style: $style;
    border-color: $color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin margin($top: false, $right: false, $bottom: false, $left: false) {
  @if $top != false {
    margin-top: $top;
  }
  @if $right != false {
    margin-right: $right;
  }
  @if $bottom != false {
    margin-bottom: $bottom;
  }
  @if $left != false {
    margin-left: $left;
  }
}

@mixin padding($top: false, $right: false, $bottom: false, $left: false) {
  @if $top != false {
    padding-top: $top;
  }
  @if $right != false {
    padding-right: $right;
  }
  @if $bottom != false {
    padding-bottom: $bottom;
  }
  @if $left != false {
    padding-left: $left;
  }
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
       -o-transition: $transitions;
          transition: $transitions;
}

@mixin viewport($width: min-device-width, $zoom: 1.0) {
  @-webkit-viewport {
    width: $width !important;
    zoom: $zoom !important;
  }
  @-moz-viewport {
    width: $width !important;
    zoom: $zoom !important;
  }
  @-ms-viewport {
    width: $width !important;
    zoom: $zoom !important;
  }
  @-o-viewport {
    width: $width !important;
    zoom: $zoom !important;
  }
  @viewport {
    width: $width !important;
    zoom: $zoom !important;
  }
}

// -----------------------------------------------------------------------------
// - Viewport settings                                                         -
// -----------------------------------------------------------------------------

@include viewport($viewport-width, $viewport-zoom);

// -----------------------------------------------------------------------------
// - Globals                                                                   -
// -----------------------------------------------------------------------------

p,
span,
strong {
  font: {
    family: $font-family;
    size: $font-size;
  }
  line-height: $line-height;
  color: $font-color;
}

h1 {
  @extend p;

  @include margin(20px, false, 10px);

  font: {
    size: $font-size-h1;
    weight: $font-weight-headings;
  }
  line-height: $line-height-headings;
}

small {
  @extend p;

  font-size: $font-size-small;
}

a {
  @extend p;

  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  span,
  small,
  strong {
    color: inherit;
    text-decoration: inherit;
  }
}

// -----------------------------------------------------------------------------
// - Control Strip                                                             -
// -----------------------------------------------------------------------------

// MAL strips certain selectors from the custom css, so we use a backslash
// in the name to work around it
#mal\_control_strip {
  background: none !important;
  @include box-shadow($control-strip-shadow);

  @if not $show-control-strip {
    display: none;
  }

  // Need to override previous styles with !important
  // cause' of MAL's style takes precedence over
  // the custom styling in this case.
  a {
    @extend a;
    color: $link-color !important;
    text-decoration: none !important;

    &:hover {
      color: $link-hover-color !important;
      text-decoration: underline !important;
    }
  }
}

#mal_cs_listinfo {
  border: none !important;
}

#mal_cs_links {
  border: none !important;
}

#mal_cs_powered {
  position: inherit !important;
  top: 0 !important;
  right: 0 !important;
  vertical-align: inherit !important;

  text-align: inherit !important;

  a {
    img {
      display: none;
    }
  }

  #search {
    @include padding(0, 11px, 0, 0);
    @include margin(0, 0, 0, 0);

    #searchBox {
      @include padding(6px, 12px, 6px, 12px);
      @include border(false, 1px, solid, #ccc);
      display: block;
      width: 100% !important;
      height: 34px;
      box-sizing: border-box;

      font-size: $font-size !important;
      line-height: $line-height;

      color: #555;
      background-color: #fff;
      background-image: none;
      @include border-radius(4px);
      @include box-shadow($input-shadow);
      @include transition($input-transition);

      &:focus {
        border-color: #66afe9;
        outline: 0;
        @include box-shadow($input-focus-shadow);
      }
    }

    #searchListButton {
      display: none;
    }
  }
}

// -----------------------------------------------------------------------------
// - List surround                                                             -
// -----------------------------------------------------------------------------

#list_surround {
  @include padding(false, $padding-right, false, $padding-left);
  @include margin(false, auto, false, auto);

  @media ($mw: $sm) {
    width: 750px;
    @include padding(60px);
  }

  @media ($mw: $md) {
    width: 970px;
  }

  @media ($mw: $lg) {
    width: 1170px;
  }
}

// -----------------------------------------------------------------------------
// - Table                                                                     -
// -----------------------------------------------------------------------------

// Table arg lists
$table-border: $table-border-width, $table-border-style, $table-border-color;
$table-padding: $padding-small, $padding-small, $padding-small, $padding-small;

.header_title {
  @include padding($table-padding...);
  @include margin(20px, false, 10px);

  text-align: center;

  span {
    @extend h1;
  }
}

.table_header {
  @include padding($table-padding...);

  @if $table-bordered {
    @include border(top, $table-border...);
    @include border(bottom, $table-border...);

    &:first-child {
      @include border(left, $table-border...);
    }

    &:last-child {
      @include border(right, $table-border...);
    }
  }
}

td.td1 {
  @extend p;

  @include padding($table-padding...);

  @if $table-bordered {
    &:first-child {
      @include border(left, $table-border...);
    }

    &:last-child {
      @include border(right, $table-border...);
    }
  }
}

td.td2 {
  @extend p;

  @include padding($table-padding...);

  @if $table-striped {
    background-color: $table-accent-color;
  }

  @if $table-bordered {
    &:first-child {
      @include border(left, $table-border...);
    }

    &:last-child {
      @include border(right, $table-border...);
    }
  }
}

.category_totals {
  @extend p;

  @include padding($table-padding...);

  @if $table-bordered {
    @include border(false, $table-border...);
  }
}

@if $table-hover {
  t\r:hover {
    .td1,
    .td2 {
      background-color: $table-hover-color;
    }
  }
}

// -----------------------------------------------------------------------------
// - More foldout                                                              -
// -----------------------------------------------------------------------------

div[id^=more] {
  .td1,
  .td2 {
    @include padding(false, false, false, 54px);
  }
}

// -----------------------------------------------------------------------------
// - Totals                                                                    -
// -----------------------------------------------------------------------------

#grand_totals {
  @extend p;

  @include padding($table-padding...);
}

// -----------------------------------------------------------------------------
// - Copyright                                                                 -
// -----------------------------------------------------------------------------

#copyright {
  @include padding(20px, $padding-right, 10px, $padding-left);
  @include margin(0 !important, auto, false, auto);

  @extend p;
  text-align: center;
}
